<div class="container">
  ID: <small><%= media.id %></small><br>
  Name: <small><%= media.image_name %></small><br>
  Folder: <small><%= media.folder_path %></small><br>
  Path: <small><%= media.file_path %></small><br>
  MD5 Path: <small><%= media.md5_path %></small><br>
  <br/>
  Resolution: <small><%= media.dimensions %></small><br>
  Size: <small><%= number_to_human_size(media.size, precision: 2) %></small><br>
  <br/>
  Signature: <small><%= media.signature %></small><br>
  <br/>
  Duplicate: <small><%= media.duplicate %></small><br>
  Duplicates: <small><%= media.duplicate_of %></small><br>
  <br/>
  Created: <small><%= media.created_at %></small><br>
  Updated: <small><%= media.updated_at %></small><br>
  <br/>
  File Modified: <small><%= media.file_mtime %></small><br>
  File Created: <small><%= media.file_ctime %></small><br>
  <br/>
  Tags: <small><%= media.tags %></small><br>
</div>
