<%-
  current_folder = Folder.where(folder_path: folder_root).first
  state          = ''

  unless current_folder.nil?
    folder        = Folder.where(folder_path: folder_root).first
    entry_point   = folder.sub_folders
    parent_folder = folder.parent_folder
    this_folder   = folder.folder_path
    images        = Image.where(
                      folder_path: folder_root
                    ).order("created_at #{Settings.sort_order}, image_name").paginate(
                      page: params[:page],
                      per_page: Settings.images_per_page
                    )
  end
-%>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%- breadcrumbs = folder_root.split("/") -%>
      <%- breadcrumbs.each_with_index do |breadcrump, i| -%>
        <%- if i == 0 -%>
        <li class="breadcrumb-item">
          <a href="/folders" class="bi bi-collection"></a>
        </li>
      <%- elsif i == 1 -%>
      <%- else -%>
        <li class="breadcrumb-item">
          <a href="/folders/<%= ERB::Util.url_encode breadcrumbs.take(i).join('/') %>/<%= ERB::Util.url_encode breadcrump %>/"><%= breadcrump %></a>
        </li>
      <%- end -%>
    <%- end -%>
  </ol>
</nav>

<%- unless current_folder.nil? -%>
<div class="btn-toolbar">
<%- state = 'disabled' if folder_root == "#{Settings.originals_path}/" -%>
  <a class="btn btn-outline-primary btn-sm mr-1 mb-1 <%= state %>" href="/folders/<%= parent_folder %>/"><%= octicon 'arrow-up' %></a>
<%- entry_point.sort.each do |entry| -%>
  <a class="btn btn-outline-primary btn-sm mr-1 mb-1" href="/folders/<%= ERB::Util.url_encode entry %>"><%= entry.split('/').last %></a>
<%- end -%>
  <button class="btn btn-outline-secondary btn-sm mr-1 mb-1" type="button" data-toggle="modal" data-target="#FolderPlusModal"><%= octicon "plus" %></button>
  <button class="btn btn-outline-primary   btn-sm mr-1 mb-1" type="button" data-toggle="modal" data-target="#FolderUploadModal"><%= octicon 'repo-push' %></button>
  <button class="btn btn-outline-info      btn-sm mr-1 mb-1" type="button" data-toggle="modal" data-target="#FolderMoveModal"><%= octicon 'git-compare' %></button>
  <button class="btn btn-outline-info      btn-sm mr-1 mb-1" type="button" data-toggle="modal" data-target="#FolderScanModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-file-earmark-break" viewBox="0 0 16 16">
      <path d="M14 4.5V9h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v7H2V2a2 2 0 0 1 2-2h5.5L14 4.5zM13 12h1v2a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-2h1v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-2zM.5 10a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H.5z"/>
    </svg>
  </button>
  <button class="btn btn-outline-danger    btn-sm mr-1 mb-1" type="button" data-toggle="modal" data-target="#FolderDeleteModal"><%= octicon 'trash' %></button>
  <button class="btn btn-outline-primary   btn-sm mr-1 mb-1 disabled" type="button"><i class="bi bi-film"></i></button>
  <button class="btn btn-outline-primary   btn-sm mr-1 mb-1 disabled" type="button"><i class="bi bi-image"></i></button>
</div>

  <%- unless images.empty? -%>

  <%= erb :_paginator, locals: {images: images} %>

  <div class="row mt-1">
    <%= erb :_image_cards, locals: {images: images} %>
  </div>
  <% end %>

  <%= erb :_folder_modals, locals: {folder: folder, this_folder: this_folder} %>

  <%= erb :_paginator, locals: {images: images} %>
<%- end -%>

<script type="text/javascript">
  function addFavorite(elem) {
    var md5 = elem.value;
    $.post("/favorite/" + md5, { favorite: true }, function(result){ });
    return false; // prevents the form from submitting normally
  }

  function recreateThumb(elem) {
    var md5 = elem.value;
    $.post("/thumb/recreate/" + md5, { }, function(result){ });
    return false; // prevents the form from submitting normally
  }
</script>
