<!doctype html>
<html lang="en">
  <head>
    <title>Bronko Media</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap<%= Settings.bootstrap_version %>.min.css" />
    <link rel="stylesheet" href="/css/fancybox5.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/bronko.media.css" />

    <link rel="icon" href="/images/favicon.ico" />

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap<%= Settings.bootstrap_version %>.min.js"></script>
    <script src="/js/fancybox5.umd.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-brand mr-auto">BMS</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mx-auto order-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/folders">Folders</a></li>
          <li class="nav-item"><a class="nav-link" href="/duplicates">Duplicates</a></li>
          <li class="nav-item"><a class="nav-link" href="/favorites">Favorites</a></li>
          <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
          <li class="nav-item"><a class="nav-link" href="/tags">Tags</a></li>
          <div class="verticalLine">
            <li class="nav-item"><a class="nav-link" href="/config">Config</a></li>
          </div>
        </ul>
    </div>
    <div class="navbar-collapse collapse order-3">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-link"><%= BronkoMedia::VERSION %></li>
        </ul>
    </div>
  </nav>
    <br/>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <script type="text/javascript">
    // get check images for multi move
    var selectedImages = new Array();

    jQuery(".image_checkbox").click(function(){
        var n = jQuery(".image_checkbox:checked").length;
        if (n > 0){
          jQuery(".image_checkbox:checked").each(function(){
            selectedImages.push($(this).val());
          });
        }
    });

    $('#ImagesMoveModal').on('show.bs.modal', function () {
      document.getElementById('mv_md5s').value = selectedImages;
    })

    $('#ImagesDeleteModal').on('show.bs.modal', function () {
      document.getElementById('del_md5s').value = selectedImages;
    })
    </script>

  <% loop_attribute = if Settings.video_do_loop == 'true'
                        'loop'
                      else
                        ''
                      end
  %>

    <script type="text/javascript">
      Fancybox.bind('[data-fancybox]', {
        Html : {
          videoTpl : `<video class="fancybox__html5video" <%= loop_attribute %> playsinline controls poster="{{poster}}"><source src="{{src}}" type="{{format}}" />Sorry, your browser doesn't support embedded videos.</video>`
        },
        Images: {
          zoom: false,
        },
        Thumbs: {
          showOnStart: false,
        },
        Toolbar: {
          enabled: false,
        },
        closeButton: false,
        }
      );
    </script>
  </body>
</html>
