<div class="btn-toolbar">
  <form method="get">
  <%- Tag.find_each do |tag| -%>
    <button class="btn btn-outline-primary btn-sm mr-1 mb-1" type="submit" name="tag" value="<%= tag.name %>" action="/tags"><%= tag.name %></button>
  <%- end -%>
  </form>
</div>

<%- unless params[:tag].nil? -%>
<%- images = Image.where("JSON_CONTAINS(`tags`, '\"#{params[:tag]}\"')") -%>
<%= erb :_paginator, locals: {images: images} %>

<div class="row mt-1">
  <%= erb :_image_cards, locals: {images: images, show_path: false} %>
</div>

<%= erb :_paginator, locals: {images: images} %>
<%- end -%>
